{% extends 'base.html' %}

{% block content %}
<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-text" href="/">Storage Manager</a>
      </div>
    </div>
  </nav>
  <h1>Purchases made by date</h1>
  <table class="table table-striped">
    <thead class="thead-default">
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Purchased</th>
    </thead>
    {% for product in object_list %}
      <tr>
        <td width="65%">{{ product.name }}</td>
        <td width="10%">{{ product.quantity }}</td>
        <td width="10%">${{ product.price }}</td>
        <td width="15%">{{ product.datetime }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
